@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --nav-back-color: #2e2f33;
    --divider-color: lightgray;
}

.Project {
    display: flex;
    height: 100vh;
}

.nav-zone {
    width: 10vw;
    background: var(--nav-back-color);
    border-right: solid var(--divider-color);
}

.project-zone {
    width: 85vw;
    height: 100vh;
    margin-left: 10px;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

body, button, input, a, textarea {
    font-family: Helvetica;
    border-radius: 5px;
}

input, textarea{
    border: solid 2px var(--divider-color);
}

hr {
    border-top: 1.5px solid var(--divider-color);
    border-bottom: none;
    border-radius: 5px;
    max-width: 80%;
    margin-left: 0;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

button {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 0;
    border: var(--divider-color);
}

.nav-button {
    background: none;
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.crossed {
    text-decoration: line-through;
    color:darkgray;
}

.not-crossed {
    text-decoration: none;
}

th {
    border: outset ;
}

.item-button {
    height: 25px;
    width: 30px;
}

.clock {
    font-size: large;
    border: outset ;
    font-family: 'Orbitron', sans-serif;
    max-width: 100px;
    margin: 0 0 5px 0;
    text-align: center;
}

.project-title {
    border: none;
    font-size: xx-large;
}

.project-title:focus {
    outline: none;
}