@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {

}

body {

}

body, button, input, a, textarea {
    font-family: Helvetica;
    border-radius: 5px;
    background-color: whitesmoke;
    /* border: solid black 2px; */
}

button {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 0;;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.crossed {
    text-decoration: line-through;
    color:darkgray;
}

.not-crossed {
    text-decoration: none;
}

th {
    /* display: flex; */
    border: outset ;
}

.clock {
    font-size: x-large;
    border: outset ;
    font-family: 'Orbitron', sans-serif;
    max-width: 100px;
    margin: 0 0 5px 0;
    text-align: center;
}

.project-title {
    border: none;
    font-size: xx-large;
}

.project-title:focus {
    outline: none;
}